<div class="product__details">
  <img [src]="product.img" [alt]="product.name" />
  <div class="product__details--data">
    <h1>{{ product.name }}</h1>
    <p>
      <span id="product__details--price">{{ price }} </span>
    </p>
    <form #selectForm="ngForm" class="product__details--form">
      <div *ngFor="let option of options; let i = index">
        <mat-form-field color="accent" appearance="outline">
          <mat-select
            [placeholder]="option.name"
            [name]="options[i].name"
            [(ngModel)]="productForm[options[i].name]"
          >
            <mat-option
              *ngFor="let value of option.values; let j = index"
              [value]="option.values[j]"
              >{{ option.values[j].name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <button class="btn" type="submit" mat-flat-button color="accent">
        Buy
      </button>
    </form>
  </div>
</div>
