.product__details {
  display: flex;
  padding: 100px 20px 20px 20px;
  color: #ffffff;
  max-width: 900px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.product__details--img {
  min-width: 400px;
  width: 50%;
  min-height: 400px;
}
.product__details--data {
  padding: 0;
  text-align: center;
  flex-grow: 1;
  flex-direction: column;
}
.product__details--data h1 {
  width: 100%;
}
product__details--form {
  width: 100%;
}
mat-form-field {
  display: block;
  width: 80%;
  margin: 0 auto;
}
#product__details--price {
  color: var(--primary-color);
  font-size: 1.2rem;
}
.product__details--error {
  color: var(--warning-color);
}

@media only screen and (max-width: 720px) {
  .product__details {
    flex-direction: column;
  }
  .product__details--img {
    margin: 0 auto;
  }
}
@media only screen and (max-width: 450px) {
  .product__details--img {
    min-width: 300px;
    min-height: 300px;
  }
}

@media only screen and (max-width: 375px) {
}
