.product__card--wrapper {
  padding-top: 100px;
  text-align: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}
.product__card {
  padding: 20px;
}
.product__card--img {
  width: 300px;
  height: 300px;
  transition: 0.2s;
}
.product__card--img:hover {
  opacity: 0.8;
}

.product__card--name {
  transition: 0.3s;
}
.product__card:hover {
  cursor: pointer;
}

.product__card:hover .product__card--name {
  color: var(--primary-color);
}

.product__card--old-price {
  text-decoration: line-through;
  color: #aaa;
}
.product__card--new-price {
  color: var(--primary-color);
}
@media only screen and (max-width: 720px) {
  ul {
    flex-direction: column;
  }
  .product__card--img {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 375px) {
  .product__card {
    padding: 0;
  }
  .product__card--old-price,
  .product__card--new-price {
    margin: 0 5px;
  }
}
