div {
  padding-top: 100px;
  text-align: center;
  color: #fff;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}
.product__card {
  padding: 20px;
}
.product__card img {
  width: 300px;
  transition: 0.2s;
}
.product__card--name {
  transition: 0.3s;
}
.product__card:hover {
  cursor: pointer;
}
.product__card:hover img {
  opacity: 0.8;
}
.product__card:hover .product__card--name {
  color: var(--accent-color);
}

.product__card--old-price {
  text-decoration: line-through;
  color: #000;
}
.product__card--new-price {
  color: var(--accent-color);
}
